POSTGRES_HOST=localhost
POSTGRES_PASSWORD=123qwe
POSTGRES_USER=app
POSTGRES_DB=auth_db
POSTGRES_PORT=5432

REDIS_HOST=localhost
REDIS_PORT=6379

AUTH_SECRET_KEY=something123456fromNozir
AUTH_JWT_ALGORITHM=HS256