POSTGRES_HOST=postgres_db
POSTGRES_PASSWORD=123qwe
POSTGRES_USER=app
POSTGRES_DB=auth_db
POSTGRES_PORT=5432

REDIS_HOST=redis
REDIS_PORT=6379
AUTH_SECRET_KEY=something123456fromNozir
AUTH_JWT_ALGORITHM=HS256
HASHER_ALGORITHM=pbkdf2_sha256
HASHER_ROUNDS=302122


TEST_POSTGRES_HOST=test_postgres_db
TEST_POSTGRES_PASSWORD=123qwe
TEST_POSTGRES_USER=app
TEST_POSTGRES_DB=auth_db
TEST_POSTGRES_PORT=5432
TEST_REDIS_HOST=test_redis
TEST_REDIS_PORT=6379