POSTGRES_HOST=postgres_db
POSTGRES_PASSWORD=123qwe
POSTGRES_USER=app
POSTGRES_DB=auth_db
POSTGRES_PORT=5432

REDIS_HOST=redis
REDIS_PORT=6379
AUTH_SECRET_KEY=something123456fromNozir
AUTH_JWT_ALGORITHM=HS256
HASHER_ALGORITHM=pbkdf2_sha256
HASHER_ROUNDS=302122